[submodule "pdebashis.blog/public"]
	path = pdebashis.blog/public
	url = https://github.com/pdebashis/pdebashis.github.io.git
	branch = main
[submodule "pdebashis.blog/themes/hugo-theme-console"]
	path = pdebashis.blog/themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
